// Media Queries Partial

@use 'variables' as *;

@media (max-width: 1060px){
    .wrapper{
        width: 90%;
    }
}

@media (max-width: 940px){
    .wrapper{
        width: 97%;
    }
}

@media (max-width: 830px){
    html{
        font-size: 100%;
    }

    nav .nav_links{

        a{
            margin: 0 20px;

            img{
                width: 50px;
            }
        }
    }

    header .header_intro p,
    .about_me .wrapper p{
        width: 80%;
    }

    .skills img{
        width: 100px;
    }

    .skills_container{
        width: 180px;
        height: 180px;
    }
}

@media (max-width: 768px){
    header nav .nav_links{
        a{
            margin: 0 10px;
        }
    }
    
    .projects h2{
        text-align: center;
    }

    .projects .project_container{
        flex-direction: column;

        .project_image,
        .project_details{
            width: 70%;
        }
    }

    .projects .reverse .project_details,
    .projects .reverse .project_image{
        text-align: start;
    }

    .projects .reverse .project_buttons{
        justify-content: start;
    }

    form{
        width: 80%;
    }
}

@media (max-width: 480px){
    header nav .nav_links{
        a{
            font-size: 1.1rem;
        }
    }

    .contact .wrapper .contact_icons{
        width: 100%;
    }

    .projects .project_container .project_image,
    .projects .project_container .project_details{
        width: 90%;
    }
}