// Media Queries Partial

@use 'variables' as *;

@media (max-width: 1060px){
    .wrapper{
        width: 90%;
    }
}

@media (max-width: 940px){
    .wrapper{
        width: 97%;
    }
}

@media (max-width: 830px){
    html{
        font-size: 100%;
    }

    nav .nav_links{

        a{
            margin: 0 20px;

            img{
                width: 50px;
            }
        }

        i{
            margin: 0 5px;
        }
    }

    header .header_intro p,
    .about_me .wrapper p{
        width: 80%;
    }

    .skills img{
        width: 100px;
    }

    .skills_container{
        width: 180px;
        height: 180px;
    }


    // Hamburger Menu Code

    nav ul{
        position: fixed;
        right: -100%;
        top: 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100vh;
        transition: 0.5s;
        backdrop-filter: blur(5px);
        background-color: rgba($light_black, 0.9);
        z-index: 100;

        li{
            margin: 20px;
            padding: 5px;
            background-color: $light_black;
            border: 1px solid $gold_yellow;
            border-radius: 16px;
        }
    }
    
    #hamburger,
    #close{
        font-size: 2.5rem;
        margin: 0 30px;
        transition: 0.2s ease-in-out;

        &:hover,
        &:focus{
            color: $gold_yellow;
        }
    }

    header #hamburger{
        display: flex;
    }

    header #close{
        position: fixed;
        top: 30px;
        right: 15px;
    }

    #close.visible{
        display: flex;
    }

    ul.active{
        right: 0;
    }
}

@media (max-width: 768px){
    header nav .nav_links{
        a{
            margin: 0 10px;
        }
    }
    
    .projects .wrapper h2{
        display: flex;
        justify-content: center;
        

    }

    .projects .project_container{
        flex-direction: column;

        .project_image,
        .project_details{
            width: 70%;
        }
    }

    .projects .reverse .project_details,
    .projects .reverse .project_image{
        text-align: start;
    }

    .projects .reverse .project_buttons{
        justify-content: start;
    }

    form{
        width: 80%;
    }

    .skills_container{
        width: 170px;
        height: 170px;
        padding: 15px 5px 0 5px;
    }
}

@media (max-width: 480px){

    h1{
        font-size: 3rem;
    }
    header nav .nav_links{
        a{
            font-size: 0.8rem;
            margin: 0 5px;
        }
    }

    .contact .wrapper .contact_icons{
        width: 100%;
    }

    .projects .project_container .project_image,
    .projects .project_container .project_details{
        width: 90%;
    }

    .skills_container{
        margin: 10px;
        padding: 5px;
        width: 150px;
        height: 150px;
    }
}