// Skills Section Partial

@use 'variables' as *;

.skills{
    background-color: $light_black;
    padding: 100px 20px;

    img{
        width: 120px;
        height: auto;
    }

    .wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;

        .skills_icons{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
    }
}

.skills_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: 200px;
    margin: 20px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    transition: 0.3s ease-in-out;

    &:hover {
        transform: scale(1.1);
    }

    p{
        margin: 15px 0;
    }
}