// Variables List Partial

// Font Families
$header_font: 'Karla', sans-serif;
$body_font: 'Inconsolata', monospace;

// Font Style
$font_italic: italic;

// Font Weights
$font_weight_regular: 400;
$font_weight_bold: 700;

// Color Palette
$dark_black: #272727;
$hover_black: #323232;
$light_black: #484848;
$grey: #808080;
$off_white: #F2F4F5;
$orange: #c5a47e;
