html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
  font-family: "Inconsolata", monospace;
  color: #F2F4F5;
}

h1,
h2,
h3,
h4,
input,
textarea {
  font-family: "Karla", sans-serif;
  letter-spacing: 2px;
  line-height: 40px;
  text-transform: uppercase;
}

h1 {
  font-size: 5rem;
  line-height: 80px;
}

h2 {
  font-size: 3rem;
}

h3 {
  margin-bottom: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #F2F4F5;
}

nav a {
  font-size: 1.7rem;
  letter-spacing: 2px;
}

p {
  font-size: 1.2rem;
}

.text_container {
  margin: 15px;
}

.tools {
  margin-top: 0;
  font-size: 0.8rem;
}

.header_intro span {
  color: #ffbb00;
}

html {
  background-color: #272727;
  scroll-behavior: smooth;
}

.wrapper {
  width: 80%;
  max-width: 1400px;
  margin: 0 auto;
}

header {
  height: 100vh;
  position: relative;
}
header nav {
  position: relative;
  background-color: black;
  height: 100px;
  margin-bottom: 20vh;
}
header nav .nav_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}
header nav .nav_links a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 30px;
}
header nav .nav_links img {
  width: 70px;
}
header nav .nav_links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
}
header .header_intro {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .header_intro h1 {
  text-align: center;
}
header .header_intro p {
  width: 50%;
  text-align: center;
}
header .header_intro a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #484848;
  color: #F2F4F5;
  height: 50px;
  width: 220px;
  margin: 10px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
header .header_intro a:hover, header .header_intro a:focus {
  background-color: #ffbb00;
  color: #272727;
}
header .header_intro i {
  margin-left: 10px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

header::before {
  content: "";
  position: absolute;
  background-image: url(../../../assets/unsplash_code_photo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.1;
}

header a:hover,
header a:focus {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  color: #ffbb00;
}

.hamburger_menu i {
  width: 50px;
  height: 50px;
  font-size: 50px;
}

.about_me {
  padding: 200px 20px;
  background-color: #272727;
}
.about_me div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.about_me div p {
  width: 70%;
  text-align: center;
}

.skills {
  background-color: #484848;
  padding: 100px 20px;
}
.skills img {
  width: 120px;
  height: auto;
}
.skills .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.skills .wrapper .skills_icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.skills_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  height: 200px;
  margin: 20px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.skills_container:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.skills_container p {
  margin: 15px 0;
}

.projects {
  padding: 100px 20px;
}
.projects .project_container {
  margin: 100px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.projects .project_container .project_image,
.projects .project_container .project_details {
  width: 50%;
  margin: 20px;
}
.projects .project_container .project_image img {
  width: 100%;
  border: 2px solid #ffbb00;
  border-radius: 16px;
}
.projects .project_container .project_details a {
  padding: 10px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.projects .project_container .project_details a:hover, .projects .project_container .project_details a:focus {
  background-color: #ffbb00;
  color: #272727;
}
.projects .reverse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.projects .reverse .project_details,
.projects .reverse .project_image {
  text-align: end;
}
.projects .reverse .project_buttons {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.project_buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.project_buttons .live_button {
  margin-right: 15px;
}

.contact {
  background-color: black;
  padding: 100px 20px;
}
.contact .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contact .wrapper button {
  background-color: #484848;
  color: #F2F4F5;
  height: 50px;
  width: 220px;
  margin: 10px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.contact .wrapper button:hover, .contact .wrapper button:focus {
  background-color: #ffbb00;
  color: #272727;
}
.contact .wrapper h2 {
  margin: 0 0 50px 0;
}
.contact .wrapper .contact_icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40%;
}
.contact .wrapper .contact_icons .media {
  text-align: center;
}
.contact .wrapper p {
  text-align: center;
}

.contact_icons .media {
  width: 100%;
}
.contact_icons .media .icon_container {
  width: 100%;
}
.contact_icons .media .icon_container i {
  font-size: 60px;
}
.contact_icons .media .text_container a {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.contact_icons .media .text_container a:hover, .contact_icons .media .text_container a:focus {
  color: #ffbb00;
}

form {
  width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
form div {
  width: 100%;
  margin: 10px;
}
form div input {
  width: 100%;
  height: 50px;
}
form div textarea {
  width: 100%;
}
form div input,
form div textarea {
  padding: 10px;
}

footer {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer p {
  margin: 5px;
}
footer .code_link {
  font-size: 0.6rem;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
footer .code_link:hover, footer .code_link:focus {
  color: #ffbb00;
}

@media (max-width: 1060px) {
  .wrapper {
    width: 90%;
  }
}
@media (max-width: 940px) {
  .wrapper {
    width: 97%;
  }
}
@media (max-width: 830px) {
  html {
    font-size: 100%;
  }
  nav .nav_links a {
    margin: 0 20px;
  }
  nav .nav_links a img {
    width: 50px;
  }
  header .header_intro p,
.about_me .wrapper p {
    width: 80%;
  }
  .skills img {
    width: 100px;
  }
  .skills_container {
    width: 180px;
    height: 180px;
  }
}
@media (max-width: 768px) {
  header nav .nav_links a {
    margin: 0 10px;
  }
  .projects h2 {
    text-align: center;
  }
  .projects .project_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .projects .project_container .project_image,
.projects .project_container .project_details {
    width: 70%;
  }
  .projects .reverse .project_details,
.projects .reverse .project_image {
    text-align: start;
  }
  .projects .reverse .project_buttons {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  form {
    width: 80%;
  }
}
@media (max-width: 480px) {
  header nav .nav_links a {
    font-size: 1.1rem;
  }
  .contact .wrapper .contact_icons {
    width: 100%;
  }
  .projects .project_container .project_image,
.projects .project_container .project_details {
    width: 90%;
  }
}